- page_title _('Start a Free Ultimate Trial')
- add_page_specific_style 'page_bundles/signup'
- content_for :page_specific_javascripts do
  = render "layouts/google_tag_manager_head"
  = render "layouts/one_trust"
  = render "layouts/bizible"

- content_for :footer do
  = render 'devise/shared/minimal_footer'

= render "layouts/google_tag_manager_body"
- @body_class = 'marketing-background-gradient'

.row.marketing-styling
  .col-md-8.gl-flex.gl-flex-col
    - upper_tag = tag.span(class: 'gl-text-size-h2-xl')
    - lower_tag = tag.span(class: 'gl-block gl-mt-3')
    - if Feature.enabled?(:duo_enterprise_trials_registration, Feature.current_request)
      %h1.gl-mt-0.gl-max-w-75
        - last_tag = tag.span(class: 'gl-heading-3 gl-font-normal')
        = safe_format(s_('InProductMarketing|%{upper_start}Free 60-day trial%{upper_end} %{lower_start}GitLab Ultimate & GitLab Duo Enterprise%{lower_end} %{last_start}Sign up for a free trial of the most comprehensive AI-powered DevSecOps Platform%{last_end}'),
          tag_pair(upper_tag, :upper_start, :upper_end),
          tag_pair(lower_tag, :lower_start, :lower_end),
          tag_pair(last_tag, :last_start, :last_end))
    - else
      %h1.gl-mt-0.gl-max-w-75
        = safe_format(s_('InProductMarketing|%{upper_start}Free 30-day trial%{upper_end} %{lower_start}GitLab Ultimate%{lower_end}'),
          tag_pair(upper_tag, :upper_start, :upper_end),
          tag_pair(lower_tag, :lower_start, :lower_end))

    .signup-box.gl-max-w-75
      .gl-mb-3.gl-p-6.gl-border-gray-100.gl-border-1.gl-border-solid.gl-rounded-base.gl-bg-white
        = render 'signup_box_form',
          url: trial_registrations_path(::Onboarding::Status.glm_tracking_params(params)),
          button_text: _('Continue'),
          button_class: 'black-btn'

        - if social_signin_enabled?
          .gl-pt-5
            = render 'shared/divider', text: _('or')
          .gl-flex.gl-justify-center
            %label.gl-font-normal
              = _('Continue with:')
          .gl-flex.gl-gap-3.gl-justify-center
            - popular_enabled_button_based_providers.each do |provider|
              = render 'devise/shared/omniauth_provider_button',
                href: omniauth_authorize_path(:user, provider, ::Onboarding::Status.registration_path_params(params: params, extra_params: { trial: true })),
                provider: provider,
                classes: 'js-track-omni-auth',
                data: { provider: provider, track_action: "#{provider}_sso", track_label: preregistration_tracking_label }

      .additional-links.gl-mt-6
        = render 'devise/shared/sign_in_link',
          wrapper_class: '',
          tracking_action: 'click_sign_in_from_registration_page',
          tracking_label: preregistration_tracking_label

        %p
          = s_('InProductMarketing|Want to host GitLab on your servers?')
          = link_to s_('InProductMarketing|Start a Self-Managed trial'),
            'https://about.gitlab.com/free-trial/#selfmanaged/',
            data: { track_action: 'click_link', track_label: 'start_self-managed_trial' }

  .col-md-4.lg:gl-flex.gl-flex-col.gl-mb-6.gl-items-center.gl-pr-8
    %div
      - if Feature.enabled?(:duo_enterprise_trials_registration, Feature.current_request)
        - ultimate_trial_value_props = [s_('InProductMarketing|One platform for Dev, Sec, and Ops teams'),
        s_('InProductMarketing|End-to-end security and compliance'),
        s_('InProductMarketing|Boost efficiency and collaboration'),
        s_('InProductMarketing|Ship secure software faster'),
        s_('InProductMarketing|GitLab Duo Enterprise: AI across the software development lifecycle')]
      - else
        - ultimate_trial_value_props = [s_('InProductMarketing|Accelerate your digital transformation'),
        s_('InProductMarketing|Deliver software faster'),
        s_('InProductMarketing|Ensure compliance'),
        s_('InProductMarketing|Build in security'),
        s_('InProductMarketing|Improve collaboration and visibility')]

      %h2.gl-text-size-h2-xl.gl-font-normal.gl-mb-6= s_('InProductMarketing|No credit card required.')

      %ul.gl-pl-0.gl-mb-7.gl-pl-0.gl-text-gray-800.check-mark-text
        - ultimate_trial_value_props.each do |value_prop|
          %li.gl-flex.gl-mb-3
            %span.gl-mr-3.text-brand-purple-02= sprite_icon 'check', css_class: 'gl-icon check-marks'
            = value_prop

      .gl-text-gray-800.gl-text-sm
        = s_('InProductMarketing|Trusted by')

      .gl-mt-5.gl-flex.gl-gap-6.gl-flex-wrap
        - TrialRegistrationsHelper::TRUSTED_BY_LOGOS.each do |logo|
          .gl-flex.gl-items-center
            = image_tag(logo[:path], alt: logo[:alt], title: logo[:title], width: 100)

